<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>VIDEO DOWNLOADER</title>
</head>


<body>


<div class="container">
    <div class="logo">
        <div class="conyt" id="yout"> <a href="/youtube"><img class="yt" src="https://static.vecteezy.com/system/resources/previews/018/930/575/non_2x/youtube-logo-youtube-icon-transparent-free-png.png"></a> </div>
        <div class="contt" id="tikt"> <a href="/tiktok"> <img class="tt" src="https://cdn.pixabay.com/photo/2021/01/30/06/42/tiktok-5962992_1280.png"> </a></div>
    </div>
</div>
    



<script src="{{url_for('static', filename='scripts/script.js')}}"></script>

</body>
</html>